@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family:'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}
.corpo{
  container:center auto ;
  padding-block:100px ;
  background-color: rgba(0, 0, 0, 0.301);
  text-align: center;
}

body {
  background-image: url(../img/fundo.png);  
  color: rgb(68, 36, 155); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: 1px solid rgb(105, 197, 255);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(25, 149, 206);
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}